# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.*
!/.gitignore
.vscode
.pio
MAID-EM/.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# Local files
userdata_devel.h
userdata_prod.h
userdata_marcoervoes.h